<ly-field>
  <ly-label>Sort by</ly-label>
  <select
    lyNativeControl
    [(ngModel)]="activeFilter"
    (ngModelChange)="activeFilterChange.emit($event)"
    ngControl="activeFilter"
    name="activeFilter"
  >
    <option value="title_ASC">Title (A-Z)</option>
    <option value="title_DESC">Title (Z-A)</option>

    <option value="views_ASC">Views (up)</option>
    <option value="views_DESC">Views (down)</option>

    <option value="rating_ASC">Rating (up)</option>
    <option value="rating_DESC">Rating (down)</option>

    <option value="country_ASC">Country (A-Z)</option>
    <option value="country_DESC">Country (Z-A)</option>
  </select>
</ly-field>
