<h1 lyTyp="display1" gutterBottom>Home Page</h1>

<p gutterBottom>
  These images are generally accompanied by sound, and more rarely, other
  sensory stimulations. The word "cinema", short for cinematography, is often
  used to refer to filmmaking and the film industry, and to the art form that is
  the result of it.
</p>

<app-carousel [items]="carouselItems"></app-carousel>

<p gutterBottom>
  The individual images that make up a film are called frames. In the projection
  of traditional celluloid films, a rotating shutter causes intervals of
  darkness as each frame, in turn, is moved into position to be projected, but
  the viewer does not notice the interruptions because of an effect known as
  persistence of vision, whereby the eye retains a visual image for a fraction
  of a second after its source disappears. The perception of motion is partly
  due to a psychological effect called the phi phenomenon.
</p>
