<div *ngIf="actors$ | async as actors; else loading">
  <div class="list-header">
    <div class="list-title">
      <h1 lyTyp="display1" gutterBottom>Actors</h1>
      <button ly-button appearance="miniFab">
        <ly-icon lyBadge="{{ actors.length }}" lyBadgeBg="accent"
          >recent_actors</ly-icon
        >
      </button>
    </div>
  </div>

  <ly-grid container spacing="16">
    <ly-grid item col="4 12@XSmall 6@Small" *ngFor="let actor of actors">
      <app-actor-card [actor]="actor"></app-actor-card>
    </ly-grid>
  </ly-grid>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
