<div>
  <ly-grid container spacing="16 8@XSmall">
    <ly-grid item col="3 12@XSmall 6@Small">
      <app-actor-card></app-actor-card>
    </ly-grid>
    <ly-grid item col="3 12@XSmall 6@Small">
      <app-actor-card></app-actor-card>
    </ly-grid>
    <ly-grid item col="3 12@XSmall 6@Small">
      <app-actor-card></app-actor-card>
    </ly-grid>
    <ly-grid item col="3 12@XSmall 6@Small">
      <app-actor-card></app-actor-card>
    </ly-grid>
  </ly-grid>
</div>

<!-- <app-spinner #loading></app-spinner> -->
