<ly-card [lyMaxWidth]="300">
  <ly-card-media bgImg="" title="actor.name"></ly-card-media>
  <ly-card-content>
    <h2 lyTyp="headline" gutterBottom>{{ actor.name }}</h2>
    <p lyTyp="body1">
      {{ actor.bio || 'No bio' }}
    </p>
  </ly-card-content>
  <ly-card-actions disableActionSpacing>
    <button ly-button appearance="icon" color="accent">
      <ly-icon>favorite</ly-icon>
    </button>
    <button ly-button appearance="icon">
      <ly-icon>share</ly-icon>
    </button>
  </ly-card-actions>
</ly-card>
