<div>
  <ly-card [className]="classes.wrapper">
    <ly-card-media
      *ngIf="actor?.photos"
      bgImg="{{ actor?.photos[0] }}"
      title="actor.name"
    ></ly-card-media>

    <ly-card-content>
      <h2 lyTyp="headline" gutterBottom>
        <a routerLink="/actors/{{ actor.id }}">{{ actor.name }}</a>
      </h2>
      <p lyTyp="body1">Age: {{ computedAge }}</p>
      <p lyTyp="body1">
        {{ actor.bio | titlecase }}
      </p>
      <p class="body1" *ngIf="actor.awards">Awards: {{ actor.awards[0] }}</p>
    </ly-card-content>

    <ly-card-actions disableActionSpacing [className]="classes.cardActions">
      <button ly-button appearance="icon" color="warn" (click)="handleLike()">
        <ly-icon *ngIf="!isLiked">favorite_outlined</ly-icon>
        <ly-icon *ngIf="isLiked">favorite_filled</ly-icon>
      </button>
      <button ly-button appearance="icon" (click)="handleBookmark()">
        <ly-icon *ngIf="!isBookmarked">bookmark_border</ly-icon>
        <ly-icon *ngIf="isBookmarked">bookmark</ly-icon>
      </button>
      <button ly-button appearance="icon" (click)="openDialog()">
        <ly-icon>share</ly-icon>
      </button>
    </ly-card-actions>
  </ly-card>
</div>
