<div>
  <h1 lyTyp="display1" gutterBottom>About</h1>

  <ly-list>
    <ly-list-item>
      <ly-avatar>
        <ly-icon>email</ly-icon>
      </ly-avatar>

      <a ly-line href="mailto:tictak211@gmail.com" rel="noopener">
        <ly-icon ly-icon disablePadding>link</ly-icon>
        <span>Email</span>
      </a>
      <p ly-line>tictak211@gmail.com</p>
    </ly-list-item>
    <ly-list-item>
      <ly-avatar>
        <ly-icon>send</ly-icon>
      </ly-avatar>

      <a ly-line href="https://t.me/tictak21" target="_blank" rel="noopener">
        <ly-icon ly-icon disablePadding>link</ly-icon>
        <span>Telegram</span></a
      >
      <p ly-line>@tictak21</p>
    </ly-list-item>
    <ly-list-item>
      <ly-avatar>
        <ly-icon>work</ly-icon>
      </ly-avatar>
      <a
        ly-line
        href="https://github.com/TicTak21"
        target="_blank"
        rel="noopener"
      >
        <ly-icon ly-icon disablePadding>link</ly-icon>
        <span>GitHub</span></a
      >
      <p ly-line>TicTak21</p>
    </ly-list-item>
  </ly-list>
</div>
