<app-header [setTheme]="setTheme" [toggleDrawer]="toggleDrawer"></app-header>

<ly-drawer-container>
  <ly-drawer
    #drawer="lyDrawer"
    ly-paper
    opened
    position="before"
    [hasBackdrop]="hasBackdrop"
    [drawerWidth]="width"
  >
    <ly-list>
      <button ly-list-item (click)="toggleExpanded()">
        <ly-icon ly-list-icon disablePadding>menu</ly-icon>
        <span ly-line>Toggle menu</span>
      </button>

      <ly-divider></ly-divider>

      <a ly-list-item routerLink="/home">
        <ly-icon ly-list-icon disablePadding>home</ly-icon>
        <span ly-line>Home</span>
      </a>

      <a ly-list-item routerLink="/movies">
        <ly-icon ly-list-icon disablePadding>movies</ly-icon>
        <span ly-line>Movies</span>
      </a>

      <a ly-list-item routerLink="/auth/signup">
        <ly-icon ly-list-icon disablePadding>how_to_reg</ly-icon>
        <span ly-line>Sign Up</span>
      </a>

      <a ly-list-item routerLink="/auth/signin">
        <ly-icon ly-list-icon disablePadding>login</ly-icon>
        <span ly-line>Sign In</span>
      </a>

      <a ly-list-item routerLink="/about">
        <ly-icon ly-list-icon disablePadding>info</ly-icon>
        <span ly-line>About</span>
      </a>

      <ly-divider></ly-divider>

      <button ly-list-item (click)="toggleDrawer()">
        <ly-icon ly-list-icon disablePadding>close</ly-icon>
        <span ly-line>Close menu</span>
      </button>
    </ly-list>
  </ly-drawer>

  <ly-drawer-content>
    <div [lyP]="2">
      <router-outlet></router-outlet>
    </div>
  </ly-drawer-content>
</ly-drawer-container>
