<div *ngIf="actor$ | async as actor; else loading">
  <h1 lyTyp="display1" gutterBottom>{{ actor.name }}</h1>

  <h2 lyTyp="headline" gutterBottom>Movies</h2>
  <ly-paper *ngIf="actor.starredIn">
    <ly-list>
      <button
        ly-list-item
        *ngFor="let movie of actor.starredIn"
        routerLink="/movies"
      >
        <ly-icon ly-list-icon>movie</ly-icon>
        <span ly-line>{{ movie }}</span>
      </button>
    </ly-list>
  </ly-paper>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
