<div [className]="classes.wrapper">
  <ly-grid container spacing="16 8@XSmall@Small">
    <ly-grid item col="8 12@XSmall@Small">
      <div [className]="classes.cardBody">
        <h2 lyTyp="headline" gutterBottom>
          <a routerLink="/movies/{{ movie.id }}">{{ movie.title }}</a>
        </h2>

        <app-movie-info
          [rating]="movie.rating"
          [views]="movie.views"
          [country]="movie.country"
          [adult]="movie.adult"
        ></app-movie-info>

        <p lyTyp="body1" gutterBottom>{{ movie.description }}</p>
      </div>
    </ly-grid>

    <ly-grid item col="4 12@XSmall@Small">
      <div [className]="classes.cardCtrl">
        <button ly-button appearance="icon" color="warn" (click)="handleLike()">
          <ly-icon *ngIf="!isLiked">favorite_outlined</ly-icon>
          <ly-icon *ngIf="isLiked">favorite_filled</ly-icon>
        </button>
        <button
          ly-button
          appearance="icon"
          color="secondary"
          (click)="handleWatchLater()"
        >
          <ly-icon *ngIf="!isInWatchLater">watch_later</ly-icon>
          <ly-icon *ngIf="isInWatchLater">done_all</ly-icon>
        </button>
        <button ly-button appearance="icon" (click)="openDialog()">
          <ly-icon>share</ly-icon>
        </button>
      </div>
    </ly-grid>
  </ly-grid>

  <ng-template
    ly-snack-bar
    horizontalPosition="center"
    #sb="lySnackBar"
    duration="3000"
    let-val="val"
    let-msg="msg"
  >
    <span>{{ msg }}</span>
    <button ly-button color="accent" (click)="sb.dismiss()">Dismiss</button>
  </ng-template>
</div>
